/* =========================
   ESTILO DO CARDÁPIO
   ========================= */

:root{
  --vinho:#5A0004;
  --bordo:#A41146;
  --cinza-300:#E6E6E6;
  --cinza-100:#F7F7F7;
}

/* WRAPPER DO CARD */
.card-produto {
  text-align: center;
  border-radius: 14px;
  overflow: hidden;
  background: white;
  transition: .2s ease-in-out;
}

.card-produto:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.20);
}

/* ÁREA DA IMAGEM */
.img-wrapper {
  width: 100%;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--cinza-300);
}

/* IMAGEM DO PRODUTO */
.img-produto {
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
}

/* NOME */
.card-produto .card-title {
  color: var(--bordo);
  font-weight: 700;
  font-size: 1.15rem;
}

/* DESCRIÇÃO */
.card-produto .card-text {
  font-size: .9rem;
  color: #666;
}

/* PREÇO */
.card-produto .preco {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--bordo);
  margin-bottom: 5px;
}

/* TÍTULO DA CATEGORIA */
.categoria-titulo {
  font-family: 'Playfair Display', serif;
  border-left: 4px solid var(--bordo);
  padding-left: 8px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: var(--bordo);
  font-weight: 700;
}

/* NAVEGAÇÃO DAS CATEGORIAS */
.categoria-nav {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.btn-categoria {
  font-family: 'Playfair Display';
  border: 2px solid var(--bordo);
  color: var(--bordo);
  padding: 0.45rem 1.4rem;
  border-radius: 999px;
  transition: .25s;
}

.btn-categoria:hover {
  background: var(--bordo);
  color: white;
}
.btn-ver-mais {
  background: var(--bordo);
  color: #fff;
  font-weight: 600;
  padding: 0.45rem 1.4rem;
  border-radius: 999px;
  border: none;
  margin-top: 10px;
  transition: .2s;
}

.btn-ver-mais:hover {
  background: var(--vinho);
  transform: translateY(-2px);
}

/* QR CODE */
.qr-section img {
  border-radius: 10px;
  border: 2px solid var(--cinza-300);
  object-fit: contain;
}

/* MOBILE */
@media (max-width: 768px) {
  .img-wrapper {
    height: 150px;
  }
}
